# Python environment
.venv/
__pycache__/
*.py[cod]
*$py.class

# Database and Data
lab.db
lab.db-journal
uploads/
generated/
logs/
data2.json
OLD_DATA/

# Secrets
gemini_key.txt

# Distribution & Build
build/
dist/
APP.exe/
*.spec
exe_command.txt

# Editors
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
desktop.ini

# Project Specific
Labo.json
config.json
.gemini/
